!!!

%head
  %title Boativity
  %style{:type => "text/css"}
    :sass
      body
        font-family: "Helvetica", Arial
        line-height: 1.8em
        letter-spacing: -0.015em
        background: #f4f4f4
      .logo
        font-size: 1.5em
        margin: 0 0 0 20px
        color: #aae3ff
      .container
        margin: auto
        width: 960px
      ul
        -moz-padding-start: 0
        margin: 0
        padding: 0
        float: left

      li
        float: left
        list-style-type: none
        margin: 0 4px 0 0
        padding: 0
        color: #888
      .block
        border-radius: 5px
        -moz-border-radius: 5px
        width: 100%
        float: left
        padding: 10px 0
      .header, .footer
        border: solid 1px #eee
        margin: 20px 0 0 0
        background: #fff
      .info
        margin: 20px 0 0 0
        background: #3cf
        height: 400px
        background: #737
        border-radius: 5px 5px 0 0
        -moz-border-bottom-radius:5px 5px 0 0
      .selections
        background: #e6e6e6
        border: solid 1px #ddd
        border-radius: 0 0 5px 5px
        -moz-border-bottom-radius:  0 0 5px 5px
        li
          width: 150px
          text-align: center
          color: #666
          padding: 10px
          background: #ffffff
          margin: 0 0 0 20px
          border: solid 1px #ddd
          border-radius: 5px
          -moz-border-radius: 5px

  %script{ :type => "text/javascript", :src => "app.js" }
     

%body
  .container
    .header.block
      %ul.menu
        %li
          .logo Boatvity
        %li About
        %li FAQ
        %li Contact
    .info.block
    .selections.block
      %ul.menu
        %li About
        %li FAQ
        %li Contact
    .footer.block
